/* index.css */


  
  .container1 {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(237, 237, 244);
    color: rgb(52, 72, 205);
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: blue;
  }
  
  .search-result {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: blue; /* Tomato Red */
  }
  
  .scroll-box {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .studitem {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .studitem:nth-child(even) {
    background-color: #e9e9e9;
  }
  
  p {
    margin: 0;
  }
  